.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 3rem 1rem;
  transition: 0.2s ease;
  text-decoration: none !important;
}
.paginationBttns a {
  padding: 6px;
  margin: 8px;
  border-radius: 5px;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 600;
  font-size: 17.716px;
  color: #e66100 !important;
  text-align: center;
  letter-spacing: 0.562197px;
  cursor: pointer;
  border: 2px solid #e66100;
  transition: 0.2s ease;
  text-decoration: none !important;
}

.paginationBttns a:hover {
  color: white !important;
  background: #e66100;
  transition: 0.2s ease;
}

.paginationActive a {
  color: white !important;
  background: #e66100;
  transition: 0.2s ease;
  /* border: 1px solid orange; */
}