.otp-section {
    display: block!important;
}
.resendotp-section {
    justify-content: flex-end!important;
}
.otp-section input {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    width: 40px!important;
    height: 40px!important;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color:#fff
}
.otp-section input:focus {
    border: 1px solid #E66100;
}
.forgot-text1 {
    width: 82%;
}