.custom-nav .me-auto.navbar-nav {
  flex-direction: column;
  margin: 0 !important;
  width: 100%;
}
.navbar-expand-lg .custom-nav .navbar-nav .dropdown-menu {
  position: static !important;
  background-color: #1a1a1a;
  margin-left: 32px;
  padding-top: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}
.navbar-expand-lg .custom-nav .navbar-nav .dropdown-menu a {
  color: #fff;
  font-size: 15px;
  /* margin-bottom: 10px; */
}
nav.custom-nav-main.navbar {
  display: block;
}
.navbar-section {
  height: 100vh;
  position: fixed;
  background: #1a1a1a;
  box-shadow: 10.35px 11.5px 72.43px rgb(0 0 0 / 24%);
  border-radius: 0px 30px 30px 0px;
}
.custom-nav a.nav-link {
  color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #fff !important;
}
.username {
  color: #fff;
  margin-left: 10px;
}
.navbar-section {
  width: 225px;
}
.custom-nav a.nav-active.nav-link {
  background: #e66100;
  border-radius: 30px 0px 0px 30px;
  font-size: 16px;
}
.custom-nav a.nav-link {
  margin-left: 20px;
  padding-left: 25px !important;
  font-size: 16px;
  margin: 0.2rem 0rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px 0px 0px 30px;
}
svg.nav-icon {
  font-size: 19px;
  margin-right: 5px;
}
.dropdown-toggle::after {
  display: none !important;
}
.nav-arrow {
  position: absolute;
  right: 20px;
  font-size: 20px;
}
a.nav-logout.nav-link {
  color: #e66100;
  margin-left: 45px;
  bottom: 35px;
  position: absolute;
  font-size: 16px;
  background-color: #454444a3;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
